@model eShop.ViewModels.System.Users.LoginRequest
@{
    ViewData["Title"] = "Login";
    var culture = CultureInfo.CurrentCulture.Name;
}

<!-- Login Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Login</span></h2>
    <div class="row px-xl-5 justify-content-center">
        <div class="col-lg-5 mb-5">
            <div class="contact-form bg-light p-30">
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                   
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            <localize>Login</localize>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
<!-- Login End -->

